h2{
    text-align: center;
    color:rgb(100, 5, 163);
  }
  
  p{
    font-weight: normal;
    font-size:20px;
  }
  body{
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-block-start: auto;
    margin-block-end: auto;
  }
  
  nav {
      background-color: rgb(92, 195, 206);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 80px;
      display: flex;
      align-items: center;
      box-shadow: 0 0 25px 0 black;
  }
  
  nav * {
      display: inline;
      
  }
  
  nav li {
      margin: 20px;
      
  }
  
  nav li a {
      color: black;
      text-decoration: none;
  }
  nav a.split {
      float: right;
      background-color: #ffffff;
      /* color: white; */
    }
  
    nav a:hover {
      background-color: rgb(205, 201, 75);
      color: black;
      border-radius: 5px;
      border-width: 80px;
    }
    nav a.active {
      background-color: #a5b059;
      color: white;
    }
  
  /* About section */
  
  .details i{
    width: 35px;
    height: 35px;
    text-align: center;
    background: rgb(1, 1, 1);
    color: rgb(92, 195, 206);
    border-radius: 50%;
    margin-right: 15px;
    font-size: 25px;
    padding-top:6px;
    vertical-align: middle; 
    /* position: relative; */
  }
  
  .about h2{
      text-align: center;
  }
  .about p{
      color: black;
      text-align: center;
  }
  
  .about.row{
    column-gap: 5px;
  }
  
     
  img {
       max-width: 300px;
       max-height:350px;
       border: 5px solid #555;
       float: left;
     }
     
    .row {
      display: flex;
    }
    
    /* Create three equal columns that sits next to each other */
    .column {
      flex: 33.33%;
      padding: 5px;
    }
    .logo img{
      width:200%;
      border: none;
      /* margin-top: 100px; */
      padding-left:30px;
      padding-top: 0px;
     
    }
    .column.details{
      padding-left: 20px;
    }
  
  
  /* Education */
  
  .education{
      margin: auto;
      text-align: center;
  }
  .education h2{
      text-align: center;
  }
  .education.row{
    padding-left: 200px;
    padding-right: 100px;
    column-width: 50px;
  }
  
  .edu_title{
    font-weight: 900;
  }
  
  
  
  /* Skills */
  
  .skills{
      margin: auto;    
  }
  
  .skills h2{
      text-align: center;
  }
  /* .skills ul{
    padding-left:50px;
  } */
  
  .areas{
    
    padding-left: 240px;
   
  }
  
  .areas li{
    font-size:18px;
  }
  .areas dt{
    font-size:23px;
    font-weight: bold;
  }
  
  .area-title {
    font-weight:900;
    font-size: 20px;
  }
  
  /* Certifications */
  
  .cerf{
      margin:auto;
      text-align: center;
  }
  
  .cerf h2{
      text-align: center;
  }
  
  
  .cerf table,th,td{
     
          border:1px solid black;
          text-align: center;
          width: 60%;
          padding: 10px;
            
  }
  
  .cerf tr{
    height:50px;
  }
  
  .cerf .center{
      margin-left: auto;
      margin-right: auto;
  }
  
  /* Project */
  
  .project{
      margin:auto;
      text-align: center;
      
  }
  .project h2{
      text-align:center
  }
  
  .project a{
    font-size: 1rem;
  }
  
  .row{
    padding-left:100px;
   
    
  
  }
  
  
  .title{
    font-size: 20px;
    font-weight: bold;
  }
  
  
  #item p{
    font-weight: 100;
  }
  #item a{
    text-decoration: none;
  }
  
  #item button{
    
      background-color:#a3c44a;
      color: rgb(167, 35, 35);
      border:none;
      border-radius:10px;
      width: 100px;
      height:30px;
  
  }
  
  #item {
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
  }
  
  #item img{
    border:none;
    border-radius: 5px;
  
  }
  
  
  
  
  
  